*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.todo-app{
  height: 50%;
  background-color: #FFB30E;
  padding: 60px; 
  border-radius: 20px;
}

.todo-app h1{
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  padding: 10px;
  color: white;
}

.todo-app input{
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
}

.todo-app button{
  margin: 0 15px;
  border: none;
  outline: none;
  padding: 15px 40px;
  border-radius: 5px ;
  background-color: #f27510;
  color: white;
  cursor: pointer;
}

.todo-app button:hover{
  background-color: #F27319a1;
}

ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before{
  content: '';
  position: absolute;
  height: 29px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png) ;
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked{
  color: #555;
  text-decoration: line-through;
  text-align: center;
}

ul li.checked:before{
  background-image: url(images/checked.jpg);
}

ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover{
  background-color: #cc900e;
}
