*{
  padding: 0;
  margin: 0;
}

body{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

button:hover{
  cursor: pointer;
  background-color: #73E831;
}

ul{
  list-style: none;
}

.todo-input{
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.container{
  background-color: orange;
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.add-button{
  background-color: #0000ff;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 11px 30px;
  font-size: 11px;
}

.todo-items{
  min-width: 350px;
  padding: 30px;
}

h1{
  color: white;
  padding: 10px;
  font-size: 45px;
  text-align: center;
}

.item{
  background-color: #fff;
  padding: 10px;
  font-size: 11px;
}

.item:first-child{
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.item:last-child{
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.checkbox{
  margin-right: 10px;
}

.delete-button{
  float: right;
  background-color: #dc143c;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: 500s;
}